extends base

mixin navItem(link, text, icon, active)
  li(class=`${active ? 'side-nav--active' : ''}`)
    a(href=`${link}`)
      svg
        use(xlink:href=`/img/icons.svg#icon-${icon}`)
      | #{text}

block content
  main.main
    .user-view
      nav.user-view__menu
        ul.side-nav
          +navItem('/me', 'Settings', 'settings')
          +navItem('/my-tours', 'My bookings', 'briefcase')
          +navItem('/my-reviews', 'My reviews', 'star')
          +navItem('/billing', 'Billing', 'credit-card')

        - if (user.role === 'admin')
          .admin-nav
            h5.admin-nav__heading Admin
            ul.side-nav
              +navItem('/manage-tours', 'Manage tours', 'map')
              +navItem('/manage-users', 'Manage users', 'users', true)
              +navItem('/manage-reviews', 'Manage reviews', 'star')
              +navItem('/manage-bookings', 'Manage bookings', 'briefcase')

      .user-view__content
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Manage Users
          
          table.table
            thead
              tr
                th Name
                th Email
                th Role
                th Status
                th Actions
            tbody
              each u in users
                tr
                  td= u.name
                  td= u.email
                  td= u.role
                  td= u.active ? 'Active' : 'Inactive'
                  td
                    button.btn.btn--tiny.btn--red.delete-user(data-user-id=u.id) Delete
